<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!--/************************
-pour dire que cette page sera utilliser par notre moteur de template
-utiliser pour inclure les blocks de code qui se repete dans index.html
*************************/-->

<th:block th:fragment="footer">
    <footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 footer_col">
                    <div class="footer_column footer_contact">
                        <div class="logo_container">
                            <div class="logo"><a href="#">BestSales</a></div>
                        </div>
                        <div class="footer_title">Got Question? Call Us 24/7</div>
                        <div class="footer_phone">+38 068 005 3570</div>
                        <div class="footer_contact_text">
                            <p>17 Princess Road, London</p>
                            <p>Grester London NW18JR, UK</p>
                        </div>
                        <div class="footer_social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-google"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-2">
                    <div class="footer_column">
                        <div class="footer_title">Accès Rapide</div>
                        <ul class="footer_list">
                            <li><a href="#">Informatique</a></li>
                            <li><a href="#">Electroménager</a></li>
                            <li><a href="#">Cuisine</a></li>
                            <li><a href="#"> Voitures</a></li>
                            <li><a href="#">Décoration</a></li>
                        </ul>

                    </div>
                </div>



                <div class="col-lg-2">
                    <div class="footer_column">
                        <div class="footer_title">Service Client</div>
                        <ul class="footer_list">
                            <li><a href="#">Mon Compte</a></li>
                            <li><a href="#">Acceuil</a></li>
                            <li><a href="#">Favoris</a></li>
                            <li><a href="#">Service client</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Aide</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                        <div class="copyright_content"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

</html>