<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!--************************************
-pour dire que cette page sera utilliser par notre moteur de template
-utiliser pour inclure les blocks de code qui se repete dans index.html
-appel du block header dans index.html
-asteric pour le champs des formulaire
*************************************-->

<th:block th:fragment="header">

<div class="container">
    <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">

            <a th:href="@{/}"><img th:src="@{/assets/img/logo-annuarium.png}" style="width: 50px;" alt="" class="img-fluid"  ></a>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" th:href="@{/}">Accueil</a></li>
                <li><a class="nav-link scrollto" href="#about">A propos</a></li>
                <li class="dropdown"><a href="#"><span>Acte</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a th:href="@{/listeactes}">Liste des actes</a></li>

                        <li sec:authorize="isAuthenticated()"><a th:href="@{/enregistreracteform}">Enregistrer un acte</a></li>
                        <li><a th:href="@{/rechercheracteform}">Rechercher un acte</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="demande.html">Demander un acte</a></li>
                <li class="dropdown"><a href="#">
                    <img th:src="@{/assets/img/user.png}" style="width:40px; border-radius:45px"><i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#"><i class="bi bi-user"></i>profile</a></li>

                        <li sec:authorize="!isAuthenticated()"> <i class="bx bx-power-off me-2"></i>
                            <a th:href="@{/login}">
                                <span>Login</span></a></li>

                        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">
                            <i class="bx bx-power-off me-2"></i>
                            <span>LogOut</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>



    </div>
    <!-- End Header -->
</div>
</th:block>
</html>