<html xmlns:th="http://www.thymeleaf.org" >

<!--/*******************
-pour dire que cette page sera utilliser par notre moteur de template
-utiliser pour inclure les blocks de code qui se repete dans index.html
**************************/-->

<th:block th:fragment="head">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BESTSALES</title>

    <!-- Favicons -->
    <!--insertion des images avec thymeleaf-->


        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <!-- https://fonts.google.com/specimen/Roboto -->
        <link rel="stylesheet" th:href="@{/assets/css/fontawesome.min.css}">
        <!-- https://fontawesome.com/ -->
        <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
        <!-- https://getbootstrap.com/ -->
        <link rel="stylesheet" th:href="@{/assets/css/templatemo-style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap4/bootstrap.min.css}">
        <link th:href="@{assets/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/plugins/OwlCarousel2-2.2.1/animate.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/plugins/slick-1.8.0/slick.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main_styles.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/responsive.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/shop_styles.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/shop_responsive.css}">
        <!--
        Product Admin CSS Template
        https://templatemo.com/tm-524-product-admin
        -->

    <!-- =======================================================
    * Template Name: Bethany - v4.7.0
    * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</th:block>

</html>