<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="fragments/_head.html::head"></th:block>

<body>

<header class="header">


    <!-- Header Main -->

    <div class="header_main">
        <div class="container">
            <div class="row">

                <!-- Logo -->
                <div class="col-lg-2 col-sm-3 col-3 order-1">
                    <div class="logo_container" >
                        <img th:src="@{/assets/img/logo.png}" alt="" style="
    width: 150px;
    height: 180px;
">

                    </div>
                </div>

                <!-- Search -->
                <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                    <div class="header_search">
                        <div class="header_search_content">
                            <div class="header_search_form_container">
                                <form action="#" class="header_search_form clearfix">
                                    <input type="search" required="required" class="header_search_input" placeholder="Rechercher tous les produits...">
                                    <div class="custom_dropdown">
                                        <div class="custom_dropdown_list">

                                            <span class="custom_dropdown_placeholder clc"> Categories</span>
                                            <i class="fas fa-chevron-down"></i>
                                            <ul class="custom_list clc">
                                                <li><a class="clc" href="#">Categories</a></li>
                                                <li><a class="clc" href="#">Mode</a></li>
                                                <li><a class="clc" href="#">Voitures</a></li>
                                                <li><a class="clc" href="#">Electroménager</a></li>
                                                <li><a class="clc" href="#">Décoration</a></li>
                                                <li><a class="clc" href="#">Cuisine</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                    <button type="submit" class="header_search_button trans_300" value="Submit"><img src="/assets/img/search.png" alt=""></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Wishlist -->
                <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                    <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                        <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                            <div class="wishlist_icon"><img src="/assets/img/heart.png" alt=""></div>
                            <div class="wishlist_content">
                                <div class="wishlist_text"><a href="#">Favoris</a></div>
                                <div class="wishlist_count">115</div>
                            </div>
                        </div>

                        <!-- Cart -->
                        <div class="cart">
                            <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                <div class="cart_icon">
                                    <img src="/assets/img/cart.png" alt="">
                                    <div class="cart_count"><span>10</span></div>
                                </div>
                                <div class="cart_content">
                                    <div class="cart_text"><a th:href="@{/carts}">Panier</a></div>
                                    <div class="cart_price">$85</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header -->
<!--    <th:block th:replace="fragments/_header.html::header"></th:block>-->

    <!-- Single Product -->

    <nav class="main_nav">
        <div class="container">
            <div class="row">
                <div class="col">

<!--                        <div class="main_nav_menu ml-auto">-->
<!--                            <a th:href="@{/}" style="font-size:35px; margin-left: -60px;"><i class="bi bi-arrow-left-circle"></i></a>-->
<!--                        </div>-->
                        <!-- Categories Menu -->

<!--                        <div class="cat_menu_container">-->

<!--                            <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">-->
<!--                                <div class="cat_burger"><span></span><span></span><span></span></div>-->

<!--                                <div class="cat_menu_text">categories</div>-->
<!--                            </div>-->

<!--                            <ul class="cat_menu">-->
<!--                                <li><a th:href="@{/Listes}">Informatique <i class="fas fa-chevron-right ml-auto"></i></a></li>-->
<!--                                <li><a th:href="@{/Listes}">Voitures<i class="fas fa-chevron-right"></i></a></li>-->
<!--                                <li ><a th:href="@{/Listes}">ElectroMénager <i class="fas fa-chevron-right"></i></a></li>-->
<!--                                <li><a th:href="@{/Listes}">Décoration<i class="fas fa-chevron-right"></i></a></li>-->
<!--                                <li><a th:href="@{/Listes}">Cuisine<i class="fas fa-chevron-right"></i></a></li>-->

<!--                            </ul>-->

                        <!-- Main Nav Menu -->

                        <div class="main_nav_menu ml-auto">
                            <ul class="standard_dropdown main_nav_dropdown" style="text-align:right;">

<!--                                <div class="button banner_button  " style="color:#009970"><a th:href="@{/enregistrerproduitform}" style="-->
<!--    /* color: black; */-->
<!--    background-color: #009970;">Publier Produit</a></div>-->
                                <li class="breadcrumb-item "><a th:href="@{/Listes}">Listes Produits<i class="fas fa-chevron-down"></i></a></li>

                                <li class="breadcrumb-item "><a style="
    margin-top: -19px;
"th:href="@{/}">Details Produits<i class="fas fa-chevron-down"></i></a></li>
<!--                                <li><a th:href="@{/Listes}">ElectroMénager<i class="fas fa-chevron-down"></i></a></li>-->
<!--                                <li ><a th:href="@{/Listes}">Décoration<i class="fas fa-chevron-down"></i></a></li>-->
<!--                                <li><a th:href="@{/Listes}">Cuisine<i class="fas fa-chevron-down"></i></a></li>-->

<!--                                    <li class="breadcrumb-item "><a th:href="@{/Listes}"></a></li>-->
<!--                                    <li class="breadcrumb-item active"></li>-->
<!--                                -->
                            </ul>
                        </div>

                        <!-- Menu Trigger -->


                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>
    <div class="single_product">
        <div>

        </div>
        <div class="container">
            <div class="row">
<!--                <div class="d-flex justify-content-between align-items-center">-->
<!--                    <h2></h2>-->
<!--                    <ol>-->
<!--                        <li><a th:href="@{/}">Accueil</a></li>-->
<!--                        <li><a th:href="@{/listeactes}">Listes Produits</a></li>-->
<!--                        <li>Détail Produit</li>-->
<!--                    </ol>-->
<!--                </div>-->

                <!-- Images -->
                <div class="col-lg-2 order-lg-1 order-2">
                    <ul class="image_list">
                        <li data-image="images/single_4.jpg"><img th:src="@{/assets/img/single_4.jpg}" alt=""></li>
                        <li data-image="images/single_2.jpg"><img th:src="@{/assets/img/single_2.jpg}" alt=""></li>
                        <li data-image="images/single_3.jpg"><img th:src="@{/assets/img/single_3.jpg}" alt=""></li>
                    </ul>
                </div>

                <!-- Selected Image -->
                <div class="col-lg-5 order-lg-2 order-1">
                    <div class="image_selected"><img th:src="@{/assets/img/single_4.jpg}" alt=""></div>
                </div>


                <!-- Description -->
                <div class="col-lg-5 order-3">
                    <div class="product_description">


                            <p><span class="pro-title"> </span> <span th:text="${prd.nomCat}" class="pro-title1"></span></p>
                            <p><span class="pro-title1"> Nom:</span> <span  th:text="${prd.nomProduit}" class="pro-title1"></span></p>
                            <p><span class="pro-title1"> Description:</span> <span  th:text="${prd.description}" class="pro-title1"></span></p>
                            <p><span class="pro-title1"> Quantite:</span> <span th:text="${prd.qntiteEnStock}"  class="pro-title1"></span></p>
                            <p><span class="pro-title1"> Prix:</span> <span  th:text="${prd.prixUnit}" class="pro-title1"></span></p>



                            <form action="#">


                                <div class="button_container" style="
    /* margin-bottom: -42px!important; */
    margin-top: 182px;
">
<!--                                <button type="submit" class="button cart_button"><a th:href="@{/carts}">Ajouter au panier</a></button>-->
                                    <div class="product_fav"><i class="fas fa-heart"></i></div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->

<div class="copyright">
    <footer class="footer">

        <div class="container"  >
            <div class="row">

                <div class="col-lg-3 footer_col" >
                    <div class="footer_column footer_contact">
                        <div class="logo_container">
                            <div class="logo"><a href="#">BESTSALES</a></div>
                        </div>
                        <div class="footer_title">Got Question? Call Us 24/7</div>
                        <div class="footer_phone">+38 068 005 3570</div>
                        <div class="footer_contact_text">
                            <p>17 Princess Road, London</p>
                            <p>Grester London NW18JR, UK</p>
                        </div>
                        <div class="footer_social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-google"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-2">
                    <div class="footer_column">
                        <div class="footer_title">Accès Rapide</div>
                        <ul class="footer_list">
                            <li><a href="#">Informatique</a></li>
                            <li><a href="#">Electroménager</a></li>
                            <li><a href="#">Cuisine</a></li>
                            <li><a href="#"> Voitures</a></li>
                            <li><a href="#">Décoration</a></li>
                        </ul>
                        <div class="footer_subtitle">Gadgets</div>
                        <ul class="footer_list">
                            <li><a href="#">Car Electronics</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="footer_column">
                        <ul class="footer_list footer_list_2">
                            <li><a href="#">Video Games & Consoles</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Cameras & Photos</a></li>
                            <li><a href="#">Hardware</a></li>
                            <li><a href="#">Computers & Laptops</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="footer_column">
                        <div class="footer_title">Service Client</div>
                        <ul class="footer_list">
                            <li><a href="#">Mon Compte</a></li>
                            <li><a href="#">Acceuil</a></li>
                            <li><a href="#">Favoris</a></li>
                            <li><a href="#">Service client</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Aide</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- Copyright -->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                        <div class="copyright_content"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">BESTSALES</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</div>

<th:block th:replace="fragments/_js.html::js"></th:block>
</body>

</html>