<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--vinnia-->

<th:block th:replace="fragments/_head.html::head"></th:block>

<body>

<div class="super_container">

    <!-- Header -->
    <th:block th:replace="fragments/_header.html::header"></th:block>

    <!-- Single Product -->

    <div class="single_product">
        <div class="container">
            <div class="row">

                <!-- Images -->
                <div class="col-lg-2 order-lg-1 order-2">
                    <ul class="image_list">
                        <li data-image="images/single_4.jpg"><img th:src="@{/assets/img/single_4.jpg}" alt=""></li>
                        <li data-image="images/single_2.jpg"><img th:src="@{/assets/img/single_2.jpg}" alt=""></li>
                        <li data-image="images/single_3.jpg"><img th:src="@{/assets/img/single_3.jpg}" alt=""></li>
                    </ul>
                </div>

                <!-- Selected Image -->
                <div class="col-lg-5 order-lg-2 order-1">
                    <div class="image_selected"><img th:src="@{/assets/img/single_4.jpg}" alt=""></div>
                </div>


                <!-- Description -->
                <div class="col-lg-5 order-3">
                    <div class="product_description">


                            <p><span class="pro-title"> </span> <span th:text="${prd.nomCat}" class="pro-title1"></span></p>
                            <p><span class="pro-title1"> Nom:</span> <span  th:text="${prd.nomProduit}" class="pro-title1"></span></p>
                            <p><span class="pro-title1"> Description:</span> <span  th:text="${prd.description}" class="pro-title1"></span></p>
                            <p><span class="pro-title1"> Quantite:</span> <span th:text="${prd.qntiteEnStock}"  class="pro-title1"></span></p>
                            <p><span class="pro-title1"> Prix:</span> <span  th:text="${prd.prixUnit}" class="pro-title1"></span></p>



                            <form action="#">


                                <div class="button_container" style="
    /* margin-bottom: -42px!important; */
    margin-top: 182px;
">
                                <button type="submit" class="button cart_button"><a th:href="@{/carts}">Ajouter au panier</a></button>
                                    <div class="product_fav"><i class="fas fa-heart"></i></div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->

<div class="copyright">
    <footer class="footer">

        <div class="container"  >
            <div class="row">

                <div class="col-lg-3 footer_col" >
                    <div class="footer_column footer_contact">
                        <div class="logo_container">
                            <div class="logo"><a href="#">BESTSALES</a></div>
                        </div>
                        <div class="footer_title">Got Question? Call Us 24/7</div>
                        <div class="footer_phone">+38 068 005 3570</div>
                        <div class="footer_contact_text">
                            <p>17 Princess Road, London</p>
                            <p>Grester London NW18JR, UK</p>
                        </div>
                        <div class="footer_social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-google"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-2">
                    <div class="footer_column">
                        <div class="footer_title">Accès Rapide</div>
                        <ul class="footer_list">
                            <li><a href="#">Informatique</a></li>
                            <li><a href="#">Electroménager</a></li>
                            <li><a href="#">Cuisine</a></li>
                            <li><a href="#"> Voitures</a></li>
                            <li><a href="#">Décoration</a></li>
                        </ul>
                        <div class="footer_subtitle">Gadgets</div>
                        <ul class="footer_list">
                            <li><a href="#">Car Electronics</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="footer_column">
                        <ul class="footer_list footer_list_2">
                            <li><a href="#">Video Games & Consoles</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Cameras & Photos</a></li>
                            <li><a href="#">Hardware</a></li>
                            <li><a href="#">Computers & Laptops</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="footer_column">
                        <div class="footer_title">Service Client</div>
                        <ul class="footer_list">
                            <li><a href="#">Mon Compte</a></li>
                            <li><a href="#">Acceuil</a></li>
                            <li><a href="#">Favoris</a></li>
                            <li><a href="#">Service client</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Aide</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- Copyright -->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                        <div class="copyright_content"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">BESTSALES</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</div>

<th:block th:replace="fragments/_js.html::js"></th:block>
</body>

</html>