<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


    <th:block th:replace="fragments/_head.html::head"></th:block>

<body>

    <div class="super_container">
        
        <!-- Header -->

        <header class="header">


            <!-- Header Main -->

            <div class="header_main">
                <div class="container">
                    <div class="row">

                        <!-- Logo -->
                        <div class="col-lg-2 col-sm-3 col-3 order-1">
                            <div class="logo_container" >
                                <img th:src="@{/assets/img/logo.png}" alt="" style="
    width: 150px;
    height: 180px;
">

                            </div>
                        </div>

                        <!-- Search -->
                        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                            <div class="header_search">
                                <div class="header_search_content">
                                    <div class="header_search_form_container">
                                        <form action="#" class="header_search_form clearfix">
                                            <input type="search" required="required" class="header_search_input" placeholder="Rechercher tous les produits...">
                                            <div class="custom_dropdown">
                                                <div class="custom_dropdown_list">

                                                    <span class="custom_dropdown_placeholder clc"> Categories</span>
                                                    <i class="fas fa-chevron-down"></i>
                                                    <ul class="custom_list clc">
                                                        <li><a class="clc" href="#">Categories</a></li>
                                                        <li><a class="clc" href="#">Mode</a></li>
                                                        <li><a class="clc" href="#">Voitures</a></li>
                                                        <li><a class="clc" href="#">Electroménager</a></li>
                                                        <li><a class="clc" href="#">Décoration</a></li>
                                                        <li><a class="clc" href="#">Cuisine</a></li>
                                                    </ul>

                                                </div>
                                            </div>
                                            <button type="submit" class="header_search_button trans_300" value="Submit"><img src="/assets/img/search.png" alt=""></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Wishlist -->
                        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                                <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                                    <div class="wishlist_icon"><img src="/assets/img/heart.png" alt=""></div>
                                    <div class="wishlist_content">
                                        <div class="wishlist_text"><a href="#">Favoris</a></div>
                                        <div class="wishlist_count">115</div>
                                    </div>
                                </div>

                                <!-- Cart -->
                                <div class="cart">
                                    <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                        <div class="cart_icon">
                                            <img src="/assets/img/cart.png" alt="">
                                            <div class="cart_count"><span>10</span></div>
                                        </div>
                                        <div class="cart_content">
                                            <div class="cart_text"><a th:href="@{/carts}">Panier</a></div>
                                            <div class="cart_price">$85</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->

            <nav class="main_nav">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <div class="main_nav_content d-flex flex-row">
<!--                                <div class="main_nav_menu ml-auto">-->
<!--                                    <a th:href="@{/}" style="font-size:35px; margin-left: -60px;"><i class="bi bi-arrow-left-circle"></i></a>-->
<!--                                </div>-->
                                <!-- Categories Menu -->

                                <div class="cat_menu_container">

                                    <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                                        <div class="cat_burger"><span></span><span></span><span></span></div>

                                        <div class="cat_menu_text">categories</div>
                                    </div>

                                    <ul class="cat_menu">
                                        <li><a th:href="@{/Listes}">Informatique <i class="fas fa-chevron-right ml-auto"></i></a></li>
                                        <li><a th:href="@{/Listes}">Voitures<i class="fas fa-chevron-right"></i></a></li>
                                        <li ><a th:href="@{/Listes}">ElectroMénager <i class="fas fa-chevron-right"></i></a></li>
                                        <li><a th:href="@{/Listes}">Décoration<i class="fas fa-chevron-right"></i></a></li>
                                        <li><a th:href="@{/Listes}">Cuisine<i class="fas fa-chevron-right"></i></a></li>

                                    </ul>
                                </div>

                                <!-- Main Nav Menu -->

                                <div class="main_nav_menu ml-auto">
                                    <ul class="standard_dropdown main_nav_dropdown" style="margin-top:-34px;">

                                        <div class="button banner_button  " style="color:#009970"><a th:href="@{/enregistrerproduitform}" style="
    /* color: black; */
    background-color: #009970;">Publier Produit</a></div>
                                        <li><a th:href="@{/Listes}">Informatique<i class="fas fa-chevron-down"></i></a></li>
                                        <li ><a th:href="@{/Listes}">Voitures<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a th:href="@{/Listes}">ElectroMénager<i class="fas fa-chevron-down"></i></a></li>
                                        <li ><a th:href="@{/Listes}">Décoration<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a th:href="@{/Listes}">Cuisine<i class="fas fa-chevron-down"></i></a></li>

                                    </ul>
                                </div>

                                <!-- Menu Trigger -->


                            </div>
                        </div>
                    </div>
                </div>
            </nav>



        </header>

        <!-- Banner -->

        <div class="banner">
            <div class="banner_background" style="background-image:url(/assets/img/banner_background.jpg)"></div>
            <div class="container fill_height">
                <div class="row fill_height">
                    <div class="col-lg-4 offset-lg-8 fill_height">
                    <div class="banner_2_image"><img src="/assets/img/banner_product.png" alt=""></div>
                    </div>
                    <div class="col-lg-3 offset-lg-4 fill_height">
                        <div class="banner_content">
                            <h1 class="banner_text">Les meilleurs opportunités ici !</h1>
                            <div class="button banner_button"><a th:href="@{/Listes}">Tous les Produits</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Characteristics -->

        <div class="characteristics">
            <div class="container">
                <div class="row">

                    <!-- Char. Item -->
                    <div class="col-lg-3 col-md-6 char_col">

                        <div class="char_item d-flex flex-row align-items-center justify-content-start">
                            <div class="char_icon"><img  th:src="@{/assets/img/char_1.png}" alt=""></div>
                            <div class="char_content">
                                <div class="char_title">Livraison Gratuite</div>
                                <div class="char_subtitle">aprés plus de 20 achats </div>
                            </div>
                        </div>
                    </div>

                    <!-- Char. Item -->
                    <div class="col-lg-3 col-md-6 char_col">

                        <div class="char_item d-flex flex-row align-items-center justify-content-start">
                            <div class="char_icon"><img  th:src="@{/assets/img/char_2.png}" alt=""></div>
                            <div class="char_content">
                                <div class="char_title">Controle Qualité</div>
                                <div class="char_subtitle">sur tous les produits</div>
                            </div>
                        </div>
                    </div>

                    <!-- Char. Item -->
                    <div class="col-lg-3 col-md-6 char_col">

                        <div class="char_item d-flex flex-row align-items-center justify-content-start">
                            <div class="char_icon"><img  th:src="@{/assets/img/char_3.png}" alt=""></div>
                            <div class="char_content">
                                <div class="char_title">Produit à Bas Prix</div>
                                <div class="char_subtitle">sur l'ensemble de nos produits</div>
                            </div>
                        </div>
                    </div>

                    <!-- Char. Item -->
                    <div class="col-lg-3 col-md-6 char_col">

                        <div class="char_item d-flex flex-row align-items-center justify-content-start">
                            <div class="char_icon"><img  th:src="@{/assets/img/char_4.png}" alt=""></div>
                            <div class="char_content">
                                <div class="char_title">Produits</div>
                                <div class="char_subtitle">Neuf & d'occasion</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Popular Categories -->

        <div class="popular_categories">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="popular_categories_content">
                            <div class="popular_categories_title">Nos Catégories</div>
                            <div class="popular_categories_slider_nav">
                                <div class="popular_categories_prev popular_categories_nav"><i class="fas fa-angle-left ml-auto"></i></div>
                                <div class="popular_categories_next popular_categories_nav"><i class="fas fa-angle-right ml-auto"></i></div>
                            </div>
                            <div class="popular_categories_link"><a href="#">voir plus</a></div>
                        </div>
                    </div>

                    <!-- Popular Categories Slider -->

                    <div class="col-lg-9">
                        <div class="popular_categories_slider_container">
                            <div class="owl-carousel owl-theme popular_categories_slider">

                                <!-- Popular Categories Item -->
                                <div class="owl-item">
                                    <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                        <div class="popular_category_image"><img src="/assets/imgs/popular_1.png" alt=""></div>
                                        <div class="popular_category_text">Informatique</div>
                                    </div>
                                </div>

                                <!-- Popular Categories Item -->
                                <div class="owl-item">
                                    <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                        <div class="popular_category_image"><img src="/assets/img/popular_2.png" alt=""></div>
                                        <div class="popular_category_text">Voitures</div>
                                    </div>
                                </div>

                                <!-- Popular Categories Item -->
                                <div class="owl-item">
                                    <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                        <div class="popular_category_image"><img src="/assets/img/popular_3.png" alt=""></div>
                                        <div class="popular_category_text">Cuisine</div>
                                    </div>
                                </div>

                                <!-- Popular Categories Item -->
                                <div class="owl-item">
                                    <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                        <div class="popular_category_image"><img src="/assets/img/popular_4.png" alt=""></div>
                                        <div class="popular_category_text">Décoration</div>
                                    </div>
                                </div>

                                <!-- Popular Categories Item -->
                                <div class="owl-item">
                                    <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                        <div class="popular_category_image"><img src="/assets/img/popular_5.png" alt=""></div>
                                        <div class="popular_category_text">ElectroMénager</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner -->

        <div class="banner_2">
            <div class="banner_2_background" style="background-image:url(/assets/img/banner_2_background.jpg)"></div>
            <div class="banner_2_container">
                <div class="banner_2_dots"></div>
                <!-- Banner 2 Slider -->

                <div class="owl-carousel owl-theme banner_2_slider">

                    <!-- Banner 2 Slider Item -->
                    <div class="owl-item">
                        <div class="banner_2_item">
                            <div class="container fill_height">
                                <div class="row fill_height">
                                    <div class="col-lg-4 col-md-6 fill_height">
                                        <div class="banner_2_content">
                                            <div class="banner_2_category">Laptops</div>
                                            <div class="banner_2_title">MacBook Air 13</div>
                                            <div class="banner_2_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum laoreet.</div>
                                            <div class="rating_r rating_r_4 banner_2_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                            <div class="button banner_2_button"><a href="#">Explore</a></div>
                                        </div>

                                    </div>
                                    <div class="col-lg-8 col-md-6 fill_height">
                                        <div class="banner_2_image_container">
                                            <div class="banner_2_image"><img src="/assets/img/banner_2_product.png" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Banner 2 Slider Item -->
                    <div class="owl-item">
                        <div class="banner_2_item">
                            <div class="container fill_height">
                                <div class="row fill_height">
                                    <div class="col-lg-4 col-md-6 fill_height">
                                        <div class="banner_2_content">
                                            <div class="banner_2_category">Laptops</div>
                                            <div class="banner_2_title">MacBook Air 13</div>
                                            <div class="banner_2_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum laoreet.</div>
                                            <div class="rating_r rating_r_4 banner_2_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                            <div class="button banner_2_button"><a href="#">Explore</a></div>
                                        </div>

                                    </div>
                                    <div class="col-lg-8 col-md-6 fill_height">
                                        <div class="banner_2_image_container">
                                            <div class="banner_2_image"><img src="/assets/img/banner_2_product.png" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Banner 2 Slider Item -->
                    <div class="owl-item">
                        <div class="banner_2_item">
                            <div class="container fill_height">
                                <div class="row fill_height">
                                    <div class="col-lg-4 col-md-6 fill_height">
                                        <div class="banner_2_content">
                                            <div class="banner_2_category">Laptops</div>
                                            <div class="banner_2_title">MacBook Air 13</div>
                                            <div class="banner_2_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum laoreet.</div>
                                            <div class="rating_r rating_r_4 banner_2_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                            <div class="button banner_2_button"><a href="#">Explore</a></div>
                                        </div>

                                    </div>
                                    <div class="col-lg-8 col-md-6 fill_height">
                                        <div class="banner_2_image_container">
                                            <div class="banner_2_image"><img src="/assets/img/banner_2_product.png" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer -->

        <th:block th:replace="fragments/_footer.html::footer"></th:block>


    

    </div>

    <th:block th:replace="fragments/_js.html::js"></th:block>
    </body>

</html>