<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/_head.html::head"></th:block>
<!--viin-->


<body>

<th:block th:replace="fragments/_header.html::header"></th:block>

<nav class="main_nav">
    <div class="container">
        <div class="row">
            <div class="col">

                <!--                        <div class="main_nav_menu ml-auto">-->
                <!--                            <a th:href="@{/}" style="font-size:35px; margin-left: -60px;"><i class="bi bi-arrow-left-circle"></i></a>-->
                <!--                        </div>-->
                <!-- Categories Menu -->

                <!--                        <div class="cat_menu_container">-->

                <!--                            <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">-->
                <!--                                <div class="cat_burger"><span></span><span></span><span></span></div>-->

                <!--                                <div class="cat_menu_text">categories</div>-->
                <!--                            </div>-->

                <!--                            <ul class="cat_menu">-->
                <!--                                <li><a th:href="@{/Listes}">Informatique <i class="fas fa-chevron-right ml-auto"></i></a></li>-->
                <!--                                <li><a th:href="@{/Listes}">Voitures<i class="fas fa-chevron-right"></i></a></li>-->
                <!--                                <li ><a th:href="@{/Listes}">ElectroMénager <i class="fas fa-chevron-right"></i></a></li>-->
                <!--                                <li><a th:href="@{/Listes}">Décoration<i class="fas fa-chevron-right"></i></a></li>-->
                <!--                                <li><a th:href="@{/Listes}">Cuisine<i class="fas fa-chevron-right"></i></a></li>-->

                <!--                            </ul>-->

                <!-- Main Nav Menu -->

                <div class="main_nav_menu ml-auto">
                    <ul class="standard_dropdown main_nav_dropdown" style="text-align:right;">

                        <!--                                <div class="button banner_button  " style="color:#009970"><a th:href="@{/enregistrerproduitform}" style="-->
                        <!--    /* color: black; */-->
                        <!--    background-color: #009970;">Publier Produit</a></div>-->
                        <li class="breadcrumb-item "><a th:href="@{/}">Acceuil<i class="fas fa-chevron-down"></i></a></li>

                        <li class="breadcrumb-item "><a style="
    margin-top: -19px;
"th:href="@{/}">Listes Produits<i class="fas fa-chevron-down"></i></a></li>
                        <!--                                <li><a th:href="@{/Listes}">ElectroMénager<i class="fas fa-chevron-down"></i></a></li>-->
                        <!--                                <li ><a th:href="@{/Listes}">Décoration<i class="fas fa-chevron-down"></i></a></li>-->
                        <!--                                <li><a th:href="@{/Listes}">Cuisine<i class="fas fa-chevron-down"></i></a></li>-->

                        <!--                                    <li class="breadcrumb-item "><a th:href="@{/Listes}"></a></li>-->
                        <!--                                    <li class="breadcrumb-item active"></li>-->
                        <!--                                -->
                    </ul>
                </div>

                <!-- Menu Trigger -->


            </div>
        </div>
    </div>
    </div>
</nav>

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll"
         data-image-src="/assets/img/shop_background.jpg"></div>
    <div class="home_overlay"></div>
    <div class="home_content d-flex flex-column align-items-center justify-content-center">
        <h2 class="home_title">Qualité à Moindres Prix</h2>
    </div>
</div>

<div class="shop">

    <div class="container">
        <div class="row">
            <div class="col-lg-3">

                <!-- Shop Sidebar -->

                <div class="shop_sidebar">

                    <div class="sidebar_section">
                        <div class="sidebar_title">Categories</div>
                        <ul class="sidebar_categories">

                            <li><a th:href="@{/Listes}">Informatique</a></li>
                            <li ><a th:href="@{/Listes}">Voitures</a></li>
                            <li><a th:href="@{/Listes}">ElectroMénager</a></li>
                            <li ><a th:href="@{/Listes}">Décoration</a></li>
                            <li><a th:href="@{/Listes}">Cuisine</a></li>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-9">

                <!-- Shop Content -->

                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count"><span>186</span> produit(s) trouver</div>
                        <div class="shop_sorting">
                            <span>Sort by:</span>
                            <ul>
                                <li>
                                    <span class="sorting_text">highest rated<i class="fas fa-chevron-down">
                                    </span></i>
                                    <ul>
                                        <li class="shop_sorting_button"
                                            data-isotope-option='{ "sortBy": "original-order" }'>highest rated
                                        </li>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>
                                            name
                                        </li>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "price" }'>
                                            price
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product_grid">
                        <div class="product_grid_border"></div>

                        <!-- Product Item -->
                        <div th:each="produit : ${prd}" class="product_item is_new">
                            <div class="product_border"></div>
                            <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                <img th:src="@{/assets/img/new_5.jpg}" alt=""></div>
                            <div class="product_content">
                                <div th:text="${produit.prixUnit}" class="product_price">$225</div>
                                <div th:text="${produit.nomProduit}" class="product_name">
                                    Philips BT6900A
                                </div>
                                <div style="display: flex; gap: 25px!important; justify-content: center;">
                                    <a th:href="@{'/detail?id=' + ${produit.id}}" tabindex="0"><i class="ri-eye-fill"
                                                                                                  style="color: #0e8ce4;"></i></a>
                                    <a th:href="@{'/carts?id=' + ${produit.id}}" tabindex="0"><i class="bi bi-cart"
                                                                                                  style="color: #0e8ce4;"></i></a>

                                </div>
                            </div>
                            <div class="product_fav"><i class="fas fa-heart"></i></div>
                            <ul class="product_marks">
                                <li class="product_mark product_discount">-25%</li>
                                <li class="product_mark product_new">new</li>
                            </ul>
                        </div>

                    </div>

                    <!-- Shop Page Navigation -->

                    <div class="shop_page_nav d-flex flex-row">
                        <div class="page_prev d-flex flex-column align-items-center justify-content-center"><i
                                class="fas fa-chevron-left"></i></div>
                        <ul class="page_nav d-flex flex-row">
                            <li><a th:href="@{/#}">1</a></li>
                            <li><a th:href="@{/#}">2</a></li>
                            <li><a th:href="@{/#}">3</a></li>
                            <li><a th:href="@{/#}">...</a></li>
                            <li><a th:href="@{/#}">21</a></li>
                        </ul>
                        <div class="page_next d-flex flex-column align-items-center justify-content-center"><i
                                class="fas fa-chevron-right"></i></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <footer class="footer">

        <div class="container"  >
            <div class="row">

                <div class="col-lg-3 footer_col" >
                    <div class="footer_column footer_contact">
                        <div class="logo_container">
                            <div class="logo"><a href="#">BESTSALES</a></div>
                        </div>
                        <div class="footer_title">Got Question? Call Us 24/7</div>
                        <div class="footer_phone">+38 068 005 3570</div>
                        <div class="footer_contact_text">
                            <p>17 Princess Road, London</p>
                            <p>Grester London NW18JR, UK</p>
                        </div>
                        <div class="footer_social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-google"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-2">
                    <div class="footer_column">
                        <div class="footer_title">Accès Rapide</div>
                        <ul class="footer_list">
                            <li><a href="#">Informatique</a></li>
                            <li><a href="#">Electroménager</a></li>
                            <li><a href="#">Cuisine</a></li>
                            <li><a href="#"> Voitures</a></li>
                            <li><a href="#">Décoration</a></li>
                        </ul>
                        <div class="footer_subtitle">Gadgets</div>
                        <ul class="footer_list">
                            <li><a href="#">Car Electronics</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="footer_column">
                        <ul class="footer_list footer_list_2">
                            <li><a href="#">Video Games & Consoles</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Cameras & Photos</a></li>
                            <li><a href="#">Hardware</a></li>
                            <li><a href="#">Computers & Laptops</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="footer_column">
                        <div class="footer_title">Service Client</div>
                        <ul class="footer_list">
                            <li><a href="#">Mon Compte</a></li>
                            <li><a href="#">Acceuil</a></li>
                            <li><a href="#">Favoris</a></li>
                            <li><a href="#">Service client</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Aide</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- Copyright -->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                        <div class="copyright_content"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">BESTSALES</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<th:block th:replace="fragments/_js.html::js"></th:block>
</body>
</html>