<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="fragments/_head.html::head"></th:block>


  <body>

      <th:block th:replace="fragments/_header.html::header"></th:block>

    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Ajouter Un Produit</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">

                <form th:action="@{/enregistrerproduit}" class="tm-edit-product-form"

                        th:method="post"
                        th:object="${produit}">
                    <div class="icon">
                    <div class="col-xl-8 col-lg-12 col-md-12 mx-auto mb-4" style="
    margin-right: -350px!important;
">

                        <div class="tm-product-img-dummy mx-auto"  >
                            <img
                                    th:src="@{/assets/img/search.png}"
                                    alt="upload image"
                                    height="100"
                                    width="100"
                            />

                        </div>
                        <div class="button-wrapper">
                            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Ajouter une photo</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input
                                        type="file"
                                        id="upload"
                                        class="account-file-input"
                                        hidden
                                        accept="image/png, image/jpeg"
                                />
                            </label>
                        </div>
                    </div>
              </div>


                  <div class="form-group mb-3" style="

    margin-top: -237px!important;
">
                    <label
                      for="name"
                      >Nom du  Produit
                    </label>
                    <input th:field="*{nomProduit}"
                      id="name"
                      name="name"
                      type="text"
                      class="form-control validate"
                      required
                    />
                  </div>

                    <div class="form-group mb-3">
                        <label
                                for="name"
                        >Prix Unitaire
                        </label>
                        <input th:field="*{prixUnit}"
                               id="prix"
                               name="name"
                               type="text"
                               class="form-control validate"
                               required
                        />
                    </div>
                  <div class="form-group mb-3">
                    <label
                            for="name"
                      >Description</label
                    >
                    <textarea
                            th:field="*{description}"
                      class="form-control validate"
                      rows="3"
                      required
                    ></textarea>
                  </div>
                  <div class="form-group mb-3" >
                    <label
                      for="category"
                      >Categorie</label
                    >
                    <select th:field="*{nomCat}"
                      class="custom-select tm-select-accounts"
                      id="categorie"
                    >
                      <option  th:each="categorie:${cat}" th:value="${categorie.nomCat}" th:text="${categorie.nomCat}">nh</option>
                    </select>
                  </div>
                  <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label

                            > Quantité en stock
                          </label>
                          <input th:field="*{qntiteEnStock}"
                            id="expire_date"
                            name="expire_date"
                            type="text"
                            class="form-control validate"
                            data-large-mode="true"
                          />
                      </div>
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="stock"
                            > Quantité Seuil
                          </label>
                          <input th:field="*{seuil}"
                            id="stock"
                            name="stock"
                            type="text"
                            class="form-control validate"
                            required
                          />
                      </div>
                  </div>

                </div>
            </div>
              <!--<i
                   class="fas fa-cloud-upload-alt tm-upload-icon"
                   onclick="document.getElementById('fileInput').click();"
                 ></i>-->


             <!-- <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-dummy mx-auto">
                    <img
                            th:src="@{/assets/img/search.png}"
                            alt="upload image"
                            height="100"
                            width="100"
                    />

                </div>
                <div class="custom-file mt-3 mb-3">
                  <label>
                      <span>ajouter</span>
                      <input
                              type="file"
                              id="upload"
                              class="btn btn-primary btn-block mx-auto"
                              hidden
                              accept="image/jpeg ,image/png"
                      />
                  </label>
                   onclick="document.getElementById('fileInput').click();"
                         value="Ajouter une image"
                         <input id="fileInput" type="file" style="display:none;" />-->
              <!--</div>
           </div>-->
           <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Enregistrer</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- https://jquery.com/download/ -->
    <!-- https://jqueryui.com/download/ -->

    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $("#expire_date").datepicker();
      });
    </script>
  </body>
</html>
